Hi, <br/><br/>
<b><%= @user_name %></b> has commented on your note.<br/><br/>
<%= @user_name %> wrote: <a href=<%= Rails.env=="development" ? "http://localhost:3000/communities/#{@community_id}/items/#{ @item_id}?comment=true" : "https://www.meetlinkshare.com/communities/#{@community_id}/items/#{ @item_id}?comment=true" %>>"<%= @message%>"</a><br/><br/>
<a href=<%= Rails.env=="development" ? "http://localhost:3000/communities/#{@community_id}" : "https://www.meetlinkshare.com/communities/#{@community_id}" %>>If you do not want to receive notifications for this team, please turn them off here</a>