<% if @file_count == "1" %>
  <b><%= @user_name %></b> has uploaded <%= @file_name %> file in MeetLinkshare virtual team called <b><%= @community_name%></b><br/><br/>
  <a href="<%= Rails.env=='development' ? 'http://localhost:3000' : 'https://www.meetlinkshare.com' %>/communities/<%= @community_id %>">Click here to view uploaded files</a>
<% else%>
  <b><%= @user_name %></b> has uploaded <%= @file_count %> files in MeetLinkshare virtual team called <b><%= @community_name%></b><br/><br/>
  <a href="<%= Rails.env=='development' ? 'http://localhost:3000' : 'https://www.meetlinkshare.com' %>/communities/<%= @community_id %>">Click here to view uploaded files</a>
<% end %>
